{
  "singleQuote": true,
  "jsxSingleQuote": true,
  "semi": true,
  "trailingComma": "all",
  "useTabs": false,
  "tabWidth": 2,
  "endOfLine": "lf",
  "htmlWhitespaceSensitivity": "css",
  "arrowParens": "always",
  "bracketSameLine": false,
  "bracketSpacing": true,
  "singleAttributePerLine": true,
  "printWidth": 80,
  "proseWrap": "preserve",
  "quoteProps": "as-needed"
}
